/* ------------------------- Common css ------------------------ */
body{
    font-family: var(--font-primary);
    /* color: var(--color-surface); */
}
/* ------------------------- All css ------------------------ */
.navLinkHover {
	position: relative;
}

.navLinkHover::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 2px;
	background: #212121;
	opacity: 0;
	transform: translateY(5px);
	transition: transform 0.3s, opacity 0.3s;
}

.navLinkHover:hover::after,
.navLinkHover:focus::after {
	opacity: 1;
	transform: translateY(0);
}


/* ------------------------- Button Hover ------------------------ */
.Banner-Hover {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.Banner-Hover::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.Banner-Hover:hover::before {
  scale: 3;
}

.Banner-Hover:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.Banner-Hover:active {
  scale: 1;
}




/* ----------- Custom scrollbar  */
/* Webkit Browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-surface);
}


.slick-list {
  padding-left: 0px !important;
}
