/* ------------------------- Common css ------------------------ */
body{
    font-family: var(--font-primary);
}
/* ------------------------- All css ------------------------ */






/* ----------- Custom scrollbar  */
/* Webkit Browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-surface);
}
