@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* ------------------------- Tailwind Css ---------------------- */
@import "tailwindcss";
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@theme {
  /* ================= Fonts ================= */
  --font-primary: "Poppins", "sans-serif";
  --font-secondary: "Manrope", "sans-serif";
  --font-space: "Space Grotesk", sans-serif;

  /* ================= Base ================= */
  --color-bg: #ffffff;
  --color-surface: #f7f8fa;        /* cards / sections */
  --color-muted: #eef0f3;          /* subtle backgrounds */

  /* ================= Text ================= */
  --color-text-primary: rgb(29, 29, 31);   /* main text */
  --color-text-secondary: #6e6e73; /* secondary text */
  --color-text-muted: #9aa0a6;     /* hints */

  /* ================= Borders ================= */
  --color-border: #e5e5e5;         /* soft, clean borders */

  /* ================= Brand ================= */
  --color-brand: #111111;          /* Rexify black */
  --color-accent: #155dfc ;
  --color-accent-soft: #E9ECFF;

  /* ================= Status ================= */
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}
omg {
  /* ================= Fonts ================= */
  --font-primary: "Poppins", "sans-serif";
  --font-secondary: "Manrope", "sans-serif";

  /* ================= Base ================= */
  --color-bg: #ffffff;
  --color-surface: #f7f8fa;        /* cards / sections */
  --color-muted: #eef0f3;          /* subtle backgrounds */

  /* ================= Text ================= */
  --color-text-primary: #212121;   /* main text */
  --color-text-secondary: #6e6e73; /* secondary text */
  --color-text-muted: #9aa0a6;     /* hints */

  /* ================= Borders ================= */
  --color-border: #e5e5e5;         /* soft, clean borders */

  /* ================= Brand ================= */
  --color-brand: #111111;          /* Rexify black */
  --color-accent: #5087ff;         /* futuristic blue glow */
  --color-accent-soft: #e9ecff;    /* hover / bg */

  /* ================= Status ================= */
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #;
}




/* ------------------------- Common css ---------------------- */
.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 84rem /* 1280px */;
  }
  @media (width >= 88rem /* 1280px */) {
    max-width: 90rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 96rem /* 1536px */;
  }
}